@font-face {
  font-family: "iconfont"; /* Project id 3653943 */
  src: url('iconfont.woff2?t=1666592462483') format('woff2'),
       url('iconfont.woff?t=1666592462483') format('woff'),
       url('iconfont.ttf?t=1666592462483') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangji1:before {
  content: "\e77f";
}

.icon-jiqishijue:before {
  content: "\e655";
}

.icon-yingyong:before {
  content: "\e699";
}

.icon-shuidi:before {
  content: "\e682";
}

.icon-guangquan:before {
  content: "\e601";
}

.icon-zhihuihuanbao_huanbaoyanghu:before {
  content: "\e621";
}

.icon-a-ziyuan40:before {
  content: "\e607";
}

.icon-dengpao:before {
  content: "\e603";
}

.icon-a-huaban1fuben14:before {
  content: "\e602";
}

.icon-youxiang:before {
  content: "\e7b1";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-shouhuodizhi:before {
  content: "\e64e";
}

.icon-gou:before {
  content: "\e650";
}

.icon-quotation:before {
  content: "\e67b";
}

.icon-qiyewenhua:before {
  content: "\e613";
}

.icon-dianhua:before {
  content: "\e616";
}

.icon-jiantouyou:before {
  content: "\e62d";
}

.icon-project-o:before {
  content: "\e628";
}

.icon-wenhuahuodong:before {
  content: "\e600";
}

.icon-dianhua1:before {
  content: "\e614";
}

.icon-jiantou:before {
  content: "\e64a";
}

.icon-zhaopingangwei:before {
  content: "\e637";
}

.icon-suanfa:before {
  content: "\e649";
}

.icon-mokuai:before {
  content: "\e606";
}

.icon-rongyumianxing:before {
  content: "\e656";
}

.icon-a-ziyuan598:before {
  content: "\e793";
}

