{extend name="base" /}
{block name="main"}
<link href="{ld:src src='fxg/css/contact.css?'}" rel="stylesheet" />
<link href="{ld:src src='fxg/css/case.css?'}" rel="stylesheet" />
<div class="hero_area jiuan-top">
    <div class="hero_bg_box">
        <img src="__ADDON__/fxg/images/hero-bg.jpg" alt="generator" />
    </div>
</div>

<div class="service-banner case-bg">
    <div class="container py-5">
        <h1 class="display-4 text-white mb-3 animated slideInDown">
            {$category.name}
        </h1>
        <p class="sub-title-cont text-white">{$category.subname}</p>
    </div>
</div>

<div class="container">
    <div class="main w1200">
        <div class="article w1">
            <p class="web-position">
                {:__('Position')}：<a href="{:addon_url('ldcms/index/index')}">{:__('Home')}</a>
                {ld:position cid="$category['id']"}
                / <a href="{$item.url}">{$item.name}</a>
                {/ld:position}
            </p>
            <div class="archive-top">
                <div class="archive-title my-4">
                    <h1 itemprop="headline" class="text-center case-article-title">{$content.title}</h1>
                    <span></span>
                </div>
            </div>
           
            <div class="article-box">
                <header class="article-top">
                    <div class="article-mt">
                        <span>
                            <i class="fa fa-list-alt"></i>
                            {ld:sort cid="$category['id']"}<a href="{$item.url}">{$item.name}</a>{/ld:sort}
                        </span>
                        <!-- <span><i class="fa fa-user"></i>{$content.author}</span> -->
                        <span><i class="fa fa-clock-o"></i>{$content.show_time}</span>
                        <span><i class="fa fa-eye"></i>{$content.visits}</span>
                    </div>
                </header>
                <article class="article-main">
                    {$content.content}
                </article>
            </div>
            <div class="web-page">
            <div class="prev">
                {:__('Previous')}： {ld:prev} <a href="{$item.url}"> {$item.title} </a> {else /} {:__('No more')}{/ld:prev}
            </div>
            <div class="next">
                {:__('Next')}： {ld:next}<a href="{$item.url}"> {$item.title} </a> {else /} {:__('No more')}{/ld:next}
            </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('.header').removeClass('opaque').addClass('noOpaque')
</script>
{/block}