{extend name="base" /}
{block name="main"}

<div class="container Wauto">
    <div class="main w1200">
        <div class="article w1">
			<form action="" class="search-container">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3  col-md-2 col-md-offset-5">
					<div class="input-group">
						<input type="text" class="form-control" name="search" value="{$search}" />
						<div class="input-group-btn">
							<button class="btn btn-danger submit" type="submit" >{:__('Search')}</button>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</form>

            <div class="post list">
                <div class="PostShow">
                    <ul>
                        {ld:search }
                        <li data-id="{$item.id}" class="anim fadeInUp">
                            <div class="post-img loading"> <a class="pic float-left" href="{$item.url}"
                                title="{$item.title}" rel="bookmark">
                                <div class="msk"></div>
                                <i class="fa fa-search"></i>
                                <img class="b-lazy" src="{$item.image}"
                                    data-src="{$item.image}" alt="{$item.title}" /> </a> </div>
                            <h4><a href="{$item.url}" title="{$item.title}">{$item.title}</a></h4>
                            <i>	{$item.description}</i>
                        </li>
                        {/ld:search}
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
        <div class="text-center">{$pages}</div>
    </div>
</div>
<script>
    $('.header').removeClass('opaque').addClass('noOpaque')
</script>
{/block}