<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>人才招聘</title>
    <meta name="keywords" content="展示站首页" />
    <meta name="description" content="展示站首页" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/iconfont.css" />
    <link rel="stylesheet" href="../css/animate.min.css" />
    <link rel="stylesheet" href="../css/swiper.min.css" />
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/media.css" />

    <script src="../js/jquery-1.11.2.min.js"></script>
    <script src="../js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="../layer/layer.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/scrolla.jquery.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>

    <!--[if IE 8]>
    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>
    <!-- top -->
    <div class="top hidden-xs">
      <div class="topitem ">
        <div class="con1400">
          <div class="head flexrow">
            <div class="logo">
              <a class="flexrow" href>
                <img src="../images/logo.png" alt>
              </a>
            </div>
            <div class="head_r flexrow">
              <div class="nav">
                <ul class="flexrow">
                  <li>
                    <a href>关于我们</a>
                    <div class="ernav">
                      <div class="con1400">
                        <div class="ernavitem flexrow">
                          <div class="ernav_l">
                            <h3>
                              Products<i>/</i><span>产品中心</span>
                            </h3>
                            <p>全套供热系统集成商、清洁智能锅炉提供商及国内供热服务商</p>
                            <ul class="ernavlink flexrow">
                              <li>
                                <a href="/dgl.html" title="电锅炉">电锅炉</a>
                              </li>
                              <li>
                                <a href="/llgl.html" title="冷凝锅炉">冷凝锅炉</a>
                              </li>
                              <li>
                                <a href="/zhenkongguolu.html"
                                  title="真空锅炉">真空锅炉</a>
                              </li>
                              <li>
                                <a href="/fujishebei.html" title="辅机设备">辅机设备</a>
                              </li>
                            </ul>
                          </div>
                          <div class="ernav_r">
                            <img src="../images/banner.jpg" alt="产品中心">
                            <p>“智慧 低碳 多元化”</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a href>产品与解决方案</a>
                    <div class="ernav">
                      <div class="con1400">
                        <div class="ernavitem flexrow">
                          <div class="ernav_l">
                            <h3>
                              Products<i>/</i><span>产品中心</span>
                            </h3>
                            <p>全套供热系统集成商、清洁智能锅炉提供商及国内供热服务商</p>
                            <ul class="ernavlink flexrow">
                              <li>
                                <a href="/dgl.html" title="电锅炉">电锅炉</a>
                              </li>
                              <li>
                                <a href="/llgl.html" title="冷凝锅炉">冷凝锅炉</a>
                              </li>
                              <li>
                                <a href="/zhenkongguolu.html"
                                  title="真空锅炉">真空锅炉</a>
                              </li>
                              <li>
                                <a href="/fujishebei.html" title="辅机设备">辅机设备</a>
                              </li>
                            </ul>
                          </div>
                          <div class="ernav_r">
                            <img src="../images/banner.jpg" alt="产品中心">
                            <p>“智慧 低碳 多元化”</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li><a href>服务与支持</a></li>
                  <li><a href>公司资讯</a></li>
                  <li><a href>投资者关系</a></li>
                </ul>
              </div>
              <div class="top_r flexrow">
                <div class="top_lang flexrow">
                  <img src="../images/langico.png" alt>
                  <div class="langitem">
                    <a href>中文</a>
                    <a href>EN</a>
                  </div>
                </div>
                <div class="top_search">
                  <img class="top_searchico" src="../images/searico.png" alt>
                  <div class="searchitem">
                    <div class="con1400">
                      <form class="searchform flexrow" action>
                        <input type="text" placeholder="请输入关键字">
                        <button type="submit">搜索</button>
                        <div class="searchclose">
                          <img src="../images/search_close.png" alt>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="waptop hidden-sm hidden-md hidden-lg">
      <div class="waptop_item">
        <div class="con1400">
          <div class="waptopitem flexrow">
            <div class="waptop_l">
              <a class="flexrow" href>
                <img src="../images/logo.png" alt>
              </a>
            </div>
            <div class="waptop_r flexrow">
              <div class="waptop_lang">
                <a href>ENG</a>
              </div>
              <div class="waptop_rs">
                <img src="../images/searchico.png" alt>
              </div>
              <div class="waptop_rnav">
                <img src="../images/wapnavico.png" alt>
              </div>
            </div>
            <div class="wapnav">
              <div class="wapnavitem">
                <div class="con1400">
                  <div class="wapnavtop flexrow">
                    <div class="wapnavt_l">
                      <a class="flexrow" href>
                        <img src="../images/logo.png" alt>
                      </a>
                    </div>
                    <div class="wapnavt_r">
                      <img src="../images/search_close.png" alt>
                    </div>
                  </div>
                  <div class="wapnavbot">
                    <ul>
                      <li>
                        <a href>网站首页</a>
                      </li>
                      <li class="flexrow">
                        <a href>产品与解决方案</a>
                        <img class="wapnav_ico" src="../images/jiantblue.png"
                          alt>
                        <div class="wapernav">
                          <a href>二级栏目</a>
                          <a href>二级栏目</a>
                          <a href>二级栏目</a>
                          <a href>二级栏目</a>
                        </div>
                      </li>
                      <li class="flexrow">
                        <a href>服务与支持</a>
                        <img class="wapnav_ico" src="../images/jiantblue.png"
                          alt>
                        <div class="wapernav">
                          <a href>二级栏目</a>
                          <a href>二级栏目</a>
                          <a href>二级栏目</a>
                          <a href>二级栏目</a>
                        </div>
                      </li>
                      <li class="flexrow">
                        <a href>公司资讯</a>
                        <img class="wapnav_ico" src="../images/jiantblue.png"
                          alt>
                        <div class="wapernav">
                          <a href>二级栏目</a>
                          <a href>二级栏目</a>
                          <a href>二级栏目</a>
                          <a href>二级栏目</a>
                        </div>
                      </li>
                      <li><a href>投资者关系</a></li>
                      <li><a href>联系我们</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="wapsearch">
              <div class="wapsea_item flexrow">
                <form class="flexrow" action>
                  <input type="text" name id placeholder="请输入关键字">
                  <button type="submit">
                    <img src="../images/searchico.png" alt>
                  </button>
                  <div class="wapsea_close">
                    <img src="../images/search_close.png" alt>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- top end -->

    <!-- banner -->
    <div class="banner">
      <div class="neibanner">
        <img src="../images/banner.jpg" alt>
        <div class="neibannerdesc flexrow">
          <h2>人才招聘</h2>
        </div>
      </div>
    </div>
    <!-- banner end -->

    <!-- 内页导航 -->
    <section class="neinav">
      <div class="con1400">
        <div class="neinav_item ">
          <ul class="flexrow">
            <li>
              <a href>
                公司简介
              </a>
            </li>
            <li>
              <a href>
                企业文化
              </a>
            </li>
            <li >
              <a href>
                社会责任
              </a>
            </li>
            <li class="active"> 
              <a href>
                人才招聘
              </a>
            </li>
            <li>
              <a href>
                联系我们
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- 内页导航 end -->

    <!-- 主体 -->
    <section class="neimain">
      <div class="joblist_t">
        <div class="con1400">
          <div class="joblist_item">
            <ul>
              <li class="flexrow">
                <div class="joblist_tl">
                  <h3>人才理念</h3>
                  <p>我们尊重知识、尊重人才、尊重创造的浓厚氛围。激发人才创新创业活力，充分调动人才积极性、主动性、创造性。努力为人才提供发挥其能量的适合岗位、广阔舞台，让其尽情展现、发挥所长。</p>
                </div>
                <div class="joblist_tr">
                  <img src="../images/jobimg1.jpg" alt="">
                </div>
              </li>
              <li class="flexrow">
                <div class="joblist_tr">
                  <img src="../images/jobimg2.jpg" alt="">
                </div>
                <div class="joblist_tl">
                  <h3>人才战略</h3>
                  <p>践行“大人才观”，甄选高度责任感而又创新思考的人，着力打造具有全球视野的精英团队，以领军人才、专业管理人才、科技人才、技能人才和复合型人才组成的五支人才队伍建设为目标，支持和促进公司战略目标的实现。</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="joblist_m">
        <div class="con1400">
          <div class="joblist_m_top">
            <h2>薪酬福利</h2>
          </div>
          <div class="joblist_m_bot">
            <ul class="flexrow">
              <li>
                <h3>薪资福利待遇</h3>
                <div class="joblist_line"></div>
                <p>五险一金、班车、周末双休、带薪年假、节日福利、年终奖、股权分红、年度旅游、年度体检、家庭日、各种兴趣协会和体育赛事；</p>
              </li>
              <li>
                <h3>人才培训培养</h3>
                <div class="joblist_line"></div>
                <p>提供近万门线上课程，满足各种知识、技能学习需求。同时，培训中心每年组织ETP管理者训练营、扁鹊计划、青蓝计划（应届生）等；</p>
              </li>
              <li>
                <h3>晋升发展通道</h3>
                <div class="joblist_line"></div>
                <p>提供“专业”和“管理”双通道及“之”字形发展路线；管理者和专家岗位机会多，通畅的内部竞聘和转岗机制。</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="joblist_t joblist_b">
        <div class="con1400">
          <div class="joblist_btitle">
            <h2>招聘岗位</h2>
          </div>
          <div class="joblist">
            <ul>
              <li>
                <div class="joblitop flexrow">
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>销售专员</dd>
                  </dl>
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>销售专员</dd>
                  </dl>
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>销售专员</dd>
                  </dl>
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>销售专员</dd>
                  </dl>
                </div>
                <div class="joblibot flexrow">
                  <div class="joblidate">
                    <p>发布时间：2023-10-18</p>
                  </div>
                  <div class="joblimore">
                    <a class="joblimail" href="" target="_blank">投递简历</a>
                    <a href="javascript:;">查看详情</a>
                  </div>
                </div>
                <div class="jobcontent active">
                  <p>
                    <strong>【岗位职责】</strong>
                    1、负责MES系统模块的二次开发、实施导入；<br>
                    2、负责解决和完善MES系统中存在的Bug，优化系统功能；<br>
                    3、负责处理MES系统发生的各种故障，确保系统的稳定运行；<br>
                    4、负责技术文档的编写、更新以及面向客户的系统功能的培训；<br>
                    5、上级主管交代的其他工作。<br><br>
    
                    <strong>【岗位要求】</strong>
                    1、熟悉.Net、Java其中一种开发语言；<br>
                    2、熟悉Oracle、SQLServer数据库技术的应用；<br>
                    3、熟悉NodeJS、JavaScript、Html5、VUE等开发语言者优先；<br>
                    4、能接受短期出差，能承受一定的工作压力；<br>
                    5、对于制造型企业的内部运营流程有一定程度的认知；<br>
                    6、服从领导安排的其他事项。
                  </p>
                </div>
              </li>
              <li>
                <div class="joblitop flexrow">
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>销售专员</dd>
                  </dl>
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>销售专员</dd>
                  </dl>
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>销售专员</dd>
                  </dl>
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>销售专员</dd>
                  </dl>
                </div>
                <div class="joblibot flexrow">
                  <div class="joblidate">
                    <p>发布时间：2023-10-18</p>
                  </div>
                  <div class="joblimore">
                    <a class="joblimail" href="" >投递简历</a>
                    <a href="javascript:;">查看详情</a>
                  </div>
                </div>
                <div class="jobcontent">
                  <p>
                    <strong>【岗位职责】</strong>
                    1、负责MES系统模块的二次开发、实施导入；<br>
                    2、负责解决和完善MES系统中存在的Bug，优化系统功能；<br>
                    3、负责处理MES系统发生的各种故障，确保系统的稳定运行；<br>
                    4、负责技术文档的编写、更新以及面向客户的系统功能的培训；<br>
                    5、上级主管交代的其他工作。<br><br>
    
                    <strong>【岗位要求】</strong>
                    1、熟悉.Net、Java其中一种开发语言；<br>
                    2、熟悉Oracle、SQLServer数据库技术的应用；<br>
                    3、熟悉NodeJS、JavaScript、Html5、VUE等开发语言者优先；<br>
                    4、能接受短期出差，能承受一定的工作压力；<br>
                    5、对于制造型企业的内部运营流程有一定程度的认知；<br>
                    6、服从领导安排的其他事项。
                  </p>
                </div>
              </li>
              <li>
                <div class="joblitop flexrow">
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>2销售专员</dd>
                  </dl>
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>销售专员</dd>
                  </dl>
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>销售专员</dd>
                  </dl>
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>销售专员</dd>
                  </dl>
                </div>
                <div class="joblibot flexrow">
                  <div class="joblidate">
                    <p>发布时间：2023-10-18</p>
                  </div>
                  <div class="joblimore">
                    <a class="joblimail" href="mailto:3289906426@qq.com" >投递简历</a>
                    <a href="javascript:;">查看详情</a>
                  </div>
                </div>
                <div class="jobcontent">
                  <p>
                    <strong>【岗位职责】</strong>
                    1、负责MES系统模块的二次开发、实施导入；<br>
                    2、负责解决和完善MES系统中存在的Bug，优化系统功能；<br>
                    3、负责处理MES系统发生的各种故障，确保系统的稳定运行；<br>
                    4、负责技术文档的编写、更新以及面向客户的系统功能的培训；<br>
                    5、上级主管交代的其他工作。<br><br>
    
                    <strong>【岗位要求】</strong>
                    1、熟悉.Net、Java其中一种开发语言；<br>
                    2、熟悉Oracle、SQLServer数据库技术的应用；<br>
                    3、熟悉NodeJS、JavaScript、Html5、VUE等开发语言者优先；<br>
                    4、能接受短期出差，能承受一定的工作压力；<br>
                    5、对于制造型企业的内部运营流程有一定程度的认知；<br>
                    6、服从领导安排的其他事项。
                  </p>
                </div>
              </li>
              <li>
                <div class="joblitop flexrow">
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>销售专员</dd>
                  </dl>
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>销售专员</dd>
                  </dl>
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>销售专员</dd>
                  </dl>
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>销售专员</dd>
                  </dl>
                </div>
                <div class="joblibot flexrow">
                  <div class="joblidate">
                    <p>发布时间：2023-10-18</p>
                  </div>
                  <div class="joblimore">
                    <a class="joblimail" href="" >投递简历</a>
                    <a href="javascript:;">查看详情</a>
                  </div>
                </div>
                <div class="jobcontent">
                  <p>
                    <strong>【岗位职责】</strong>
                    1、负责MES系统模块的二次开发、实施导入；<br>
                    2、负责解决和完善MES系统中存在的Bug，优化系统功能；<br>
                    3、负责处理MES系统发生的各种故障，确保系统的稳定运行；<br>
                    4、负责技术文档的编写、更新以及面向客户的系统功能的培训；<br>
                    5、上级主管交代的其他工作。<br><br>
    
                    <strong>【岗位要求】</strong>
                    1、熟悉.Net、Java其中一种开发语言；<br>
                    2、熟悉Oracle、SQLServer数据库技术的应用；<br>
                    3、熟悉NodeJS、JavaScript、Html5、VUE等开发语言者优先；<br>
                    4、能接受短期出差，能承受一定的工作压力；<br>
                    5、对于制造型企业的内部运营流程有一定程度的认知；<br>
                    6、服从领导安排的其他事项。
                  </p>
                </div>
              </li>
              <li>
                <div class="joblitop flexrow">
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>销售专员</dd>
                  </dl>
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>销售专员</dd>
                  </dl>
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>销售专员</dd>
                  </dl>
                  <dl>
                    <dt>岗位名称</dt>
                    <dd>销售专员</dd>
                  </dl>
                </div>
                <div class="joblibot flexrow">
                  <div class="joblidate">
                    <p>发布时间：2023-10-18</p>
                  </div>
                  <div class="joblimore">
                    <a class="joblimail" href="" >投递简历</a>
                    <a class="joblidetail" href="javascript:;">查看详情</a>
                  </div>
                </div>
                <div class="jobcontent">
                  <p>
                    <strong>【岗位职责】</strong>
                    1、负责MES系统模块的二次开发、实施导入；<br>
                    2、负责解决和完善MES系统中存在的Bug，优化系统功能；<br>
                    3、负责处理MES系统发生的各种故障，确保系统的稳定运行；<br>
                    4、负责技术文档的编写、更新以及面向客户的系统功能的培训；<br>
                    5、上级主管交代的其他工作。<br><br>
    
                    <strong>【岗位要求】</strong>
                    1、熟悉.Net、Java其中一种开发语言；<br>
                    2、熟悉Oracle、SQLServer数据库技术的应用；<br>
                    3、熟悉NodeJS、JavaScript、Html5、VUE等开发语言者优先；<br>
                    4、能接受短期出差，能承受一定的工作压力；<br>
                    5、对于制造型企业的内部运营流程有一定程度的认知；<br>
                    6、服从领导安排的其他事项。
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <script>
            $(document).ready(function(){
              $('.joblist ul li').click(function(){
                $(this).find('.jobcontent').slideToggle().end().siblings('li').find('.jobcontent').slideUp();
              })
            })
          </script>
        </div>
      </div>
    </section>
    <!-- 主体 end -->

    <!-- 底部表单 -->
    <section class="idx_footmess ">
      <div class="con1400">
        <div class="idx_ftitles">
          <h3>专业技术团队 提供全方位系统解决方案</h3>
          <p>如有任何疑问 请随时与我们联系</p>
        </div>
        <div class="idx_fmess">
          <form class="idx_fform flexrow" action>
            <input type="text" placeholder="您的姓名">
            <input type="text" placeholder="您的电话">
            <input class="idx_fform3" type="text" placeholder="您的留言">
            <button type="submit">立即提交</button>
          </form>
        </div>
      </div>
    </section>
    <!-- 底部表单 end -->

    <!-- 底部导航 -->
    <section class="foot">
      <div class="con1400">
        <div class="foottop flexrow">
          <div class="footlogo">
            <a href>
              <img src="../images/logo.png" alt>
            </a>
          </div>
          <div class="footlinks">
            <ul class="flexrow">
              <li>
                <a href target="_blank">
                  <img src="../images/footico1.png" alt>
                </a>
              </li>
              <li>
                <a href target="_blank">
                  <img src="../images/footico2.png" alt>
                </a>
              </li>
              <li>
                <a href target="_blank">
                  <img src="../images/footico3.png" alt>
                </a>
              </li>
              <li>
                <a href target="_blank">
                  <img src="../images/footico4.png" alt>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footmid flexrow">
          <div class="footmid_l flexrow">
            <dl>
              <dt><a href>关于我们</a></dt>
              <dd><a href>竹子简介</a></dd>
              <dd><a href>企业文化</a></dd>
              <dd><a href>社会责任</a></dd>
              <dd><a href>人才招聘</a></dd>
              <dd><a href>联系我们</a></dd>
            </dl>
            <dl>
              <dt><a href>产品与解决方案</a></dt>
              <dd><a href>汽车装备</a></dd>
              <dd><a href>电池装备</a></dd>
              <dd><a href>充换电站</a></dd>
            </dl>
            <dl>
              <dt><a href>服务与支持</a></dt>
              <dd><a href>全球服务网络</a></dd>
              <dd><a href>售后服务</a></dd>
              <dd><a href>下载中心</a></dd>
            </dl>
            <dl>
              <dt><a href>公司资讯</a></dt>
              <dd><a href>公司新闻</a></dd>
              <dd><a href>市场活动</a></dd>
            </dl>
            <dl>
              <dt><a href>投资者关系</a></dt>
              <dd><a href>股票信息</a></dd>
              <dd><a href>公司公告</a></dd>
              <dd><a href>管理团队</a></dd>
              <dd><a href>互动交流</a></dd>
            </dl>
          </div>
          <div class="footmid_r">
            <ul>
              <li>
                <div class="footmid_rdesc">
                  <p>189-3459-1912</p>
                </div>
              </li>
              <li>
                <div class="footmid_rdesc">
                  <p>苏州市相城区相城大道666号中翔大厦15012</p>
                </div>
              </li>
              <li>
                <div class="footmid_rdesc">
                  <p>3461570958@qq.com</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="footcopy">
      <div class="con1400">
        <div class="footcitem flexrow">
          <div class="footc_l">
            <span class="footc_ldesc">© 2011-2024 苏州竹子网络科技有限公司 版权所有</span>
            <span>备案号：<a href="https://beian.miit.gov.cn/"
                target="_blank">苏ICP备14060880号</a></span>
            <span><a href>法律声明</a></span>
            <span><a href>隐私协议</a></span>
          </div>
          <div class="footc_r">
            <p>友情链接</p>
            <div class="footc_rlinks">
              <ul>
                <li><a href>苏州网站建设</a></li>
                <li><a href>苏州网站建设</a></li>
                <li><a href>苏州网站建设</a></li>
                <li><a href>苏州网站建设</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 底部导航 end -->

    <!-- 公用js -->
    <script>
      $(document).ready(function(){
        // 电脑导航下滑时候样式
        $(function () {
          var nav = $(".top"); //得到导航对象baidu
          var win = $(window); //得到窗口对象
          var sc = $(document); //得到document文档对象。zhi
          win.scroll(function () {
            if (sc.scrollTop() >= 60) {
              nav.addClass("fixednav");
              // $(".xuanfu").fadeIn();
            } else {
              nav.removeClass("fixednav");
              // $(".xuanfu").fadeOut();
            }
          });
        });

         // 手机导航下滑时候样式
         $(function () {
          var wapnav = $(".waptop"); //得到导航对象baidu
          var wapwin = $(window); //得到窗口对象
          var wapsc = $(document); //得到document文档对象。zhi
          wapwin.scroll(function () {
            if (wapsc.scrollTop() >= 60) {
              wapnav.addClass("fixednav");
              // $(".xuanfu").fadeIn();
            } else {
              wapnav.removeClass("fixednav");
              // $(".xuanfu").fadeOut();
            }
          });
        });

        // 顶部搜索
        $('.top_searchico').click(function(){
          $('.searchitem').fadeIn();
        });
        $('.searchclose').click(function(){
          $('.searchitem').hide();
        });

         // 电脑导航下拉
         $(".nav>ul>li").mouseenter(function () {
          $(this)
            .find(".ernav")
            .slideDown()
            .end()
            .siblings("li")
            .find(".ernav")
            .hide();
        });
        $(".ernav").mouseleave(function () {
          $(this).hide();
        });

        // 解决方案切换
        $(".idx_fa ul li").mouseenter(function(){
          $(this).addClass("active").siblings().removeClass("active");
        })

        // 手机端搜索效果
        $('.waptop_rs').click(function(){
          $('.wapsearch').fadeIn();
        });
        $('.wapsea_close').click(function(){
          $('.wapsearch').hide();
        });

        // 手机端导航栏目下拉效果
        $('.wapnav_ico').click(function() {
          $(this).toggleClass('active').parent('li').siblings().find('.wapnav_ico').removeClass('active');
          $(this).next('.wapernav').slideToggle().end().parent('li').siblings().find('.wapernav').slideUp();;
        });

        // 手机端导航下拉效果
        $('.waptop_rnav').click(function(){
          $('.wapnav').slideDown();
        })
        $('.wapnavt_r').click(function(){
          $('.wapnav').hide();
        })

      })
    </script>

  </body>

</html>