<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>企业文化</title>
    <meta name="keywords" content="展示站首页" />
    <meta name="description" content="展示站首页" />
    <link rel="stylesheet" href="__ADDON__/ldcms2024/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__ADDON__/ldcms2024/css/iconfont.css" />
    <link rel="stylesheet" href="__ADDON__/ldcms2024/css/animate.min.css" />
    <link rel="stylesheet" href="__ADDON__/ldcms2024/css/swiper.min.css" />
    <link rel="stylesheet" href="__ADDON__/ldcms2024/css/public.css" />
    <link rel="stylesheet" href="__ADDON__/ldcms2024/css/styles.css" />
    <link rel="stylesheet" href="__ADDON__/ldcms2024/css/media.css" />

    <script src="__ADDON__/ldcms2024/js/jquery-1.11.2.min.js"></script>
    <script src="__ADDON__/ldcms2024/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="__ADDON__/ldcms2024/layer/layer.js"></script>
    <script src="__ADDON__/ldcms2024/js/swiper.min.js"></script>
    <script src="__ADDON__/ldcms2024/js/scrolla.jquery.js"></script>
    <script src="__ADDON__/ldcms2024/js/jquery.stellar.min.js"></script>

    <!--[if IE 8]>
    <script type="text/javascript" src="__ADDON__/ldcms2024/js/jquery-1.9.1.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>
    <!-- top -->
    <div class="top hidden-xs">
      <div class="topitem ">
        <div class="con1400">
          <div class="head flexrow">
            <div class="logo">
              <a class="flexrow" href>
                <img src="__ADDON__/ldcms2024/images/logo.png" alt>
              </a>
            </div>
            <div class="head_r flexrow">
              <div class="nav">
                <ul class="flexrow">
                  <li>
                    <a href>关于我们</a>
                    <div class="ernav">
                      <div class="con1400">
                        <div class="ernavitem flexrow">
                          <div class="ernav_l">
                            <h3>
                              Products<i>/</i><span>产品中心</span>
                            </h3>
                            <p>全套供热系统集成商、清洁智能锅炉提供商及国内供热服务商</p>
                            <ul class="ernavlink flexrow">
                              <li>
                                <a href="/dgl.html" title="电锅炉">电锅炉</a>
                              </li>
                              <li>
                                <a href="/llgl.html" title="冷凝锅炉">冷凝锅炉</a>
                              </li>
                              <li>
                                <a href="/zhenkongguolu.html"
                                  title="真空锅炉">真空锅炉</a>
                              </li>
                              <li>
                                <a href="/fujishebei.html" title="辅机设备">辅机设备</a>
                              </li>
                            </ul>
                          </div>
                          <div class="ernav_r">
                            <img src="__ADDON__/ldcms2024/images/banner.jpg" alt="产品中心">
                            <p>“智慧 低碳 多元化”</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a href>产品与解决方案</a>
                    <div class="ernav">
                      <div class="con1400">
                        <div class="ernavitem flexrow">
                          <div class="ernav_l">
                            <h3>
                              Products<i>/</i><span>产品中心</span>
                            </h3>
                            <p>全套供热系统集成商、清洁智能锅炉提供商及国内供热服务商</p>
                            <ul class="ernavlink flexrow">
                              <li>
                                <a href="/dgl.html" title="电锅炉">电锅炉</a>
                              </li>
                              <li>
                                <a href="/llgl.html" title="冷凝锅炉">冷凝锅炉</a>
                              </li>
                              <li>
                                <a href="/zhenkongguolu.html"
                                  title="真空锅炉">真空锅炉</a>
                              </li>
                              <li>
                                <a href="/fujishebei.html" title="辅机设备">辅机设备</a>
                              </li>
                            </ul>
                          </div>
                          <div class="ernav_r">
                            <img src="__ADDON__/ldcms2024/images/banner.jpg" alt="产品中心">
                            <p>“智慧 低碳 多元化”</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li><a href>服务与支持</a></li>
                  <li><a href>公司资讯</a></li>
                  <li><a href>投资者关系</a></li>
                </ul>
              </div>
              <div class="top_r flexrow">
                <div class="top_lang flexrow">
                  <img src="__ADDON__/ldcms2024/images/langico.png" alt>
                  <div class="langitem">
                    <a href>中文</a>
                    <a href>EN</a>
                  </div>
                </div>
                <div class="top_search">
                  <img class="top_searchico" src="__ADDON__/ldcms2024/images/searico.png" alt>
                  <div class="searchitem">
                    <div class="con1400">
                      <form class="searchform flexrow" action>
                        <input type="text" placeholder="请输入关键字">
                        <button type="submit">搜索</button>
                        <div class="searchclose">
                          <img src="__ADDON__/ldcms2024/images/search_close.png" alt>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="waptop hidden-sm hidden-md hidden-lg">
      <div class="waptop_item">
        <div class="con1400">
          <div class="waptopitem flexrow">
            <div class="waptop_l">
              <a class="flexrow" href>
                <img src="__ADDON__/ldcms2024/images/logo.png" alt>
              </a>
            </div>
            <div class="waptop_r flexrow">
              <div class="waptop_lang">
                <a href>ENG</a>
              </div>
              <div class="waptop_rs">
                <img src="__ADDON__/ldcms2024/images/searchico.png" alt>
              </div>
              <div class="waptop_rnav">
                <img src="__ADDON__/ldcms2024/images/wapnavico.png" alt>
              </div>
            </div>
            <div class="wapnav">
              <div class="wapnavitem">
                <div class="con1400">
                  <div class="wapnavtop flexrow">
                    <div class="wapnavt_l">
                      <a class="flexrow" href>
                        <img src="__ADDON__/ldcms2024/images/logo.png" alt>
                      </a>
                    </div>
                    <div class="wapnavt_r">
                      <img src="__ADDON__/ldcms2024/images/search_close.png" alt>
                    </div>
                  </div>
                  <div class="wapnavbot">
                    <ul>
                      <li>
                        <a href>网站首页</a>
                      </li>
                      <li class="flexrow">
                        <a href>产品与解决方案</a>
                        <img class="wapnav_ico" src="__ADDON__/ldcms2024/images/jiantblue.png"
                          alt>
                        <div class="wapernav">
                          <a href>二级栏目</a>
                          <a href>二级栏目</a>
                          <a href>二级栏目</a>
                          <a href>二级栏目</a>
                        </div>
                      </li>
                      <li class="flexrow">
                        <a href>服务与支持</a>
                        <img class="wapnav_ico" src="__ADDON__/ldcms2024/images/jiantblue.png"
                          alt>
                        <div class="wapernav">
                          <a href>二级栏目</a>
                          <a href>二级栏目</a>
                          <a href>二级栏目</a>
                          <a href>二级栏目</a>
                        </div>
                      </li>
                      <li class="flexrow">
                        <a href>公司资讯</a>
                        <img class="wapnav_ico" src="__ADDON__/ldcms2024/images/jiantblue.png"
                          alt>
                        <div class="wapernav">
                          <a href>二级栏目</a>
                          <a href>二级栏目</a>
                          <a href>二级栏目</a>
                          <a href>二级栏目</a>
                        </div>
                      </li>
                      <li><a href>投资者关系</a></li>
                      <li><a href>联系我们</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="wapsearch">
              <div class="wapsea_item flexrow">
                <form class="flexrow" action>
                  <input type="text" name id placeholder="请输入关键字">
                  <button type="submit">
                    <img src="__ADDON__/ldcms2024/images/searchico.png" alt>
                  </button>
                  <div class="wapsea_close">
                    <img src="__ADDON__/ldcms2024/images/search_close.png" alt>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- top end -->

    <!-- banner -->
    <div class="banner">
      <div class="neibanner">
        <img src="__ADDON__/ldcms2024/images/banner.jpg" alt>
        <div class="neibannerdesc flexrow">
          <h2>企业文化</h2>
        </div>
      </div>
    </div>
    <!-- banner end -->

    <!-- 内页导航 -->
    <section class="neinav">
      <div class="con1400">
        <div class="neinav_item ">
          <ul class="flexrow">
            <li >
              <a href>
                公司简介
              </a>
            </li>
            <li class="active">
              <a href>
                企业文化
              </a>
            </li>
            <li>
              <a href>
                社会责任
              </a>
            </li>
            <li>
              <a href>
                人才招聘
              </a>
            </li>
            <li>
              <a href>
                联系我们
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- 内页导航 end -->

    <!-- 主体 -->
    <section class="neimain">
      <div class="culture">
        <div class="con1400">
          <div class="cultop flexrow">
            <div class="cultop_l">
              <img src="__ADDON__/ldcms2024/images/culture1.png" alt="">
              <div class="cultop_ltitle flexrow">
                <i>愿景</i>
              </div>
            </div>
            <div class="cultop_r flexrow">
              <h3>成为客户最佳合作伙伴</h3>
              <p>我们致力于打造优秀的产品和极致的服务打动客户，让竹子成为客户心目中专业选择的合作伙伴。我们认为的服务是一种理想状态，对专业的追求没有止境。</p>
              <div class="cultop_rline"></div>
            </div>
          </div>
          <div class="culbot cultop flexrow">
            <div class="cultop_r flexrow">
              <h3>助力客户提升生产力</h3>
              <p>高度发达的生产力是人类社会富足最根本的要素，我们努力为客户提供优质的产品与服务，助力客户有效提高生产力，高效、经济、准确、可持续地生产满足市场需求的产品，让人们生活变得更加富足，更加美好。</p>
              <div class="cultop_rline"></div>
            </div>
            <div class="cultop_l">
              <img src="__ADDON__/ldcms2024/images/culture2.png" alt="">
              <div class="cultop_ltitle flexrow">
                <i>使命</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cul_qyjs">
        <div class="con1400">
          <div class="about_hz_tit">
            <h3>企业精神</h3>
            <p>
              企业精神是企业员工群体不断追求和培养的精神特质  
            </p>
          </div>
          <div class="cul_items">
            <ul class="flexrow">
              <li>
                <div class="cul_liimg">
                  <img src="__ADDON__/ldcms2024/images/qyjs1.png" alt="">
                </div>
                <div class="cul_lidesc flexrow">
                  <div class="culdesc_item">
                    <h3>正直、友善</h3>
                    <p>我们为人公正、诚信、坦荡、直率，友善对待他人。正直、友善是瀚川人的品格底线。</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="cul_liimg">
                  <img src="__ADDON__/ldcms2024/images/qyjs2.png" alt="">
                </div>
                <div class="cul_lidesc flexrow">
                  <div class="culdesc_item">
                    <h3>激情、坚韧</h3>
                    <p>我们理想远大，对事业的热爱让我们充满激情。我们将长期奋斗，不断向我们的理想进发。</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="cul_liimg">
                  <img src="__ADDON__/ldcms2024/images/qyjs3.png" alt="">
                </div>
                <div class="cul_lidesc flexrow">
                  <div class="culdesc_item">
                    <h3>创新、合作</h3>
                    <p>我们不因循守旧，敢于质疑当前的做法，不断寻求更佳的方法。以开放的心态，促进共同进步。</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- 主体 end -->

    <!-- 底部表单 -->
    <section class="idx_footmess ">
      <div class="con1400">
        <div class="idx_ftitles">
          <h3>专业技术团队 提供全方位系统解决方案</h3>
          <p>如有任何疑问 请随时与我们联系</p>
        </div>
        <div class="idx_fmess">
          <form class="idx_fform flexrow" action>
            <input type="text" placeholder="您的姓名">
            <input type="text" placeholder="您的电话">
            <input class="idx_fform3" type="text" placeholder="您的留言">
            <button type="submit">立即提交</button>
          </form>
        </div>
      </div>
    </section>
    <!-- 底部表单 end -->

    <!-- 底部导航 -->
    <section class="foot">
      <div class="con1400">
        <div class="foottop flexrow">
          <div class="footlogo">
            <a href>
              <img src="__ADDON__/ldcms2024/images/logo.png" alt>
            </a>
          </div>
          <div class="footlinks">
            <ul class="flexrow">
              <li>
                <a href target="_blank">
                  <img src="__ADDON__/ldcms2024/images/footico1.png" alt>
                </a>
              </li>
              <li>
                <a href target="_blank">
                  <img src="__ADDON__/ldcms2024/images/footico2.png" alt>
                </a>
              </li>
              <li>
                <a href target="_blank">
                  <img src="__ADDON__/ldcms2024/images/footico3.png" alt>
                </a>
              </li>
              <li>
                <a href target="_blank">
                  <img src="__ADDON__/ldcms2024/images/footico4.png" alt>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footmid flexrow">
          <div class="footmid_l flexrow">
            <dl>
              <dt><a href>关于我们</a></dt>
              <dd><a href>竹子简介</a></dd>
              <dd><a href>企业文化</a></dd>
              <dd><a href>社会责任</a></dd>
              <dd><a href>人才招聘</a></dd>
              <dd><a href>联系我们</a></dd>
            </dl>
            <dl>
              <dt><a href>产品与解决方案</a></dt>
              <dd><a href>汽车装备</a></dd>
              <dd><a href>电池装备</a></dd>
              <dd><a href>充换电站</a></dd>
            </dl>
            <dl>
              <dt><a href>服务与支持</a></dt>
              <dd><a href>全球服务网络</a></dd>
              <dd><a href>售后服务</a></dd>
              <dd><a href>下载中心</a></dd>
            </dl>
            <dl>
              <dt><a href>公司资讯</a></dt>
              <dd><a href>公司新闻</a></dd>
              <dd><a href>市场活动</a></dd>
            </dl>
            <dl>
              <dt><a href>投资者关系</a></dt>
              <dd><a href>股票信息</a></dd>
              <dd><a href>公司公告</a></dd>
              <dd><a href>管理团队</a></dd>
              <dd><a href>互动交流</a></dd>
            </dl>
          </div>
          <div class="footmid_r">
            <ul>
              <li>
                <div class="footmid_rdesc">
                  <p>189-3459-1912</p>
                </div>
              </li>
              <li>
                <div class="footmid_rdesc">
                  <p>苏州市相城区相城大道666号中翔大厦15012</p>
                </div>
              </li>
              <li>
                <div class="footmid_rdesc">
                  <p>3461570958@qq.com</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="footcopy">
      <div class="con1400">
        <div class="footcitem flexrow">
          <div class="footc_l">
            <span class="footc_ldesc">© 2011-2024 苏州竹子网络科技有限公司 版权所有</span>
            <span>备案号：<a href="https://beian.miit.gov.cn/"
                target="_blank">苏ICP备14060880号</a></span>
            <span><a href>法律声明</a></span>
            <span><a href>隐私协议</a></span>
          </div>
          <div class="footc_r">
            <p>友情链接</p>
            <div class="footc_rlinks">
              <ul>
                <li><a href>苏州网站建设</a></li>
                <li><a href>苏州网站建设</a></li>
                <li><a href>苏州网站建设</a></li>
                <li><a href>苏州网站建设</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 底部导航 end -->

    <!-- 公用js -->
    <script>
      $(document).ready(function(){
        // 电脑导航下滑时候样式
        $(function () {
          var nav = $(".top"); //得到导航对象baidu
          var win = $(window); //得到窗口对象
          var sc = $(document); //得到document文档对象。zhi
          win.scroll(function () {
            if (sc.scrollTop() >= 60) {
              nav.addClass("fixednav");
              // $(".xuanfu").fadeIn();
            } else {
              nav.removeClass("fixednav");
              // $(".xuanfu").fadeOut();
            }
          });
        });

         // 手机导航下滑时候样式
         $(function () {
          var wapnav = $(".waptop"); //得到导航对象baidu
          var wapwin = $(window); //得到窗口对象
          var wapsc = $(document); //得到document文档对象。zhi
          wapwin.scroll(function () {
            if (wapsc.scrollTop() >= 60) {
              wapnav.addClass("fixednav");
              // $(".xuanfu").fadeIn();
            } else {
              wapnav.removeClass("fixednav");
              // $(".xuanfu").fadeOut();
            }
          });
        });

        // 顶部搜索
        $('.top_searchico').click(function(){
          $('.searchitem').fadeIn();
        });
        $('.searchclose').click(function(){
          $('.searchitem').hide();
        });

         // 电脑导航下拉
         $(".nav>ul>li").mouseenter(function () {
          $(this)
            .find(".ernav")
            .slideDown()
            .end()
            .siblings("li")
            .find(".ernav")
            .hide();
        });
        $(".ernav").mouseleave(function () {
          $(this).hide();
        });

        // 解决方案切换
        $(".idx_fa ul li").mouseenter(function(){
          $(this).addClass("active").siblings().removeClass("active");
        })

        // 手机端搜索效果
        $('.waptop_rs').click(function(){
          $('.wapsearch').fadeIn();
        });
        $('.wapsea_close').click(function(){
          $('.wapsearch').hide();
        });

        // 手机端导航栏目下拉效果
        $('.wapnav_ico').click(function() {
          $(this).toggleClass('active').parent('li').siblings().find('.wapnav_ico').removeClass('active');
          $(this).next('.wapernav').slideToggle().end().parent('li').siblings().find('.wapernav').slideUp();;
        });

        // 手机端导航下拉效果
        $('.waptop_rnav').click(function(){
          $('.wapnav').slideDown();
        })
        $('.wapnavt_r').click(function(){
          $('.wapnav').hide();
        })

      })
    </script>

  </body>

</html>