<!DOCTYPE html>
<html lang="en">

  <head>
    {include file="common" /}
  </head>

  <body>
    <!-- top -->
    {include file="head" /}
    <!-- top end -->

    <!-- banner -->
    <div class="banner">
      {include file="neibanner" /}
    </div>
    <!-- banner end -->

         <!-- 内页导航 -->
         <section class="neinav">
          <div class="con1400">
            {include file="neiernav" /}
          </div>
        </section>
        <!-- 内页导航 end -->

    <!-- 主体 -->
    <section class="neimain">
      <div class="con1400">
        <div class="caselist_page">
          
          {ld:filter mid="$category['mid']" title_text="All"}
          <div class="caselistmid flexrow">
            <ul class="flexrow">
              <li><a href="javascript:;">{:__($item.title)}:</a></li>
              {volist name="$item.content" id="li"}
              <li class="{$li.active?'active':''}"><a href="{$li.url}">{:__($li.title)}</a></li>
              {/volist}
            </ul>
            <!-- <div class="caselistm_r flexrow ">
              <img src="__ADDON__/ldcms2024/images/arrow_right2.png" alt>
              <p>展开</p>
            </div> -->
          </div>
          {/ld:filter}
          
          <script>
          $(".caselistm_r").click(function(){
            $(" .caselistmid ul").toggleClass('active');
            $(this).toggleClass('active');
          })
        </script>
          <div class="caselist_item container">
            <ul class="row">
              {ld:list limit='6' ext='content' page='true'}
              <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 animate"
              data-animate="fadeInUp" data-duration="1s" data-delay="0.1s">
                <a href="{$item.url}" title="{$item.title}">
                  <div class="caselist_liimg">
                    <img src="{$item.image}" alt="{$item.title}">
                  </div>
                  <div class="caselist_lidesc">
                    <h3>{$item.title}</h3>
                    <p>{$item.seo_description|ld_str_cut=50}</p>
                    <button>Details</button>
                  </div>
                </a>
              </li>
              {/ld:list}
            </ul>
          </div>
          <div class="newspage">
            {$pages} 
          </div>
        </div>
      </div>
    </section>
    <!-- 主体 end -->

    <!-- 底部表单 -->
    {include file="footmess" /} 
    <!-- 底部表单 end -->

    <!-- 底部导航 -->
    {include file="foot" /} 
    <!-- 底部导航 end -->

    <!-- 公用js -->
    {include file="footjs" /} 

  </body>

</html>