<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null,FALSE)}
        <div class="ldcmslang"></div>
    </div>

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div class="alert alert-info-light" style="margin-bottom:10px;">
                        <p>绑定域名前请先将多语言路由模式改为<code>"子域名模式"</code>(系统配置>伪静态>多语言路由模式)。</p>
                        <p>必须填写完整的域名，如:en.example.com; 不要带http://</p>
                    </div>
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('ldcms/langs/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a>
                        <a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('ldcms/langs/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Edit')}</a>
                        <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('ldcms/langs/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>

                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('ldcms/langs/edit')}"
                           data-operate-del="{:$auth->check('ldcms/langs/del')}"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
