 <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$ld.sitetitle}</title>
    <meta name="keywords" content="{$ld.seo_keywords}" />
    <meta name="description" content="{$ld.seo_description}" />
    <link rel="stylesheet" href="__ADDON__/ldcms2024/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__ADDON__/ldcms2024/css/iconfont.css" />
    <link rel="stylesheet" href="__ADDON__/ldcms2024/css/animate.min.css" />
    <link rel="stylesheet" href="__ADDON__/ldcms2024/css/swiper.min.css" />
    <link rel="stylesheet" href="__ADDON__/ldcms2024/css/public.css" />
    <link rel="stylesheet" href="__ADDON__/ldcms2024/css/styles.css" />
    <link rel="stylesheet" href="__ADDON__/ldcms2024/css/media.css" />

    <script src="__ADDON__/ldcms2024/js/jquery-1.11.2.min.js"></script>
    <script src="__ADDON__/ldcms2024/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="__ADDON__/ldcms2024/layer/layer.js"></script>
    <script src="__ADDON__/ldcms2024/js/swiper.min.js"></script>
    <script src="__ADDON__/ldcms2024/js/scrolla.jquery.js"></script>
    <script src="__ADDON__/ldcms2024/js/jquery.stellar.min.js"></script>
    <script src="__ADDON__/ldcms2024/js/qrcode.js"></script>

    <!--[if IE 8]>
    <script type="text/javascript" src="__ADDON__/ldcms2024/js/jquery-1.9.1.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
