<!DOCTYPE html>
<html lang="en">

  <head>
    {include file="common" /}
  </head>

  <body>
    <!-- top -->
    {include file="head" /}
    <!-- top end -->

    <!-- banner -->
    <div class="banner">
      {include file="neibanner" /}
    </div>
    <!-- banner end -->

    <!-- 内页导航 -->
    
    <!-- 内页导航 end -->

    <!-- 主体 -->
    <section class="neimain">
      <div class="contact_bot" id="zxlys">
        <div class="con1400">
          <div class="contactb_item flexrow ">
            <div class="contact_bl ">
              {ld:sort cid="141"}
              <h4>{$item.ename}</h4>
              <h3>{$item.des1}</h3>
              <div class="contact_blline"></div>
              <h5>{$item.des2}</h5>
              {/ld:sort}
              <ul class="contact_ways flexrow">
                <li>
                  <p>E-Mail</p>
                  <h6>{$ld.email}</h6>
                </li>
                <li>
                  <p>公司总机</p>
                  <h6>{$ld.phone}</h6>
                </li>
                <li>
                  <p>咨询专线</p>
                  <h6>{$ld.tel}</h6>
                </li>
                <li>
                  <p>公司地址</p>
                  <h6>{$ld.address}</h6>
                </li>
              </ul>
            </div>
            <div class="contact_br ">
              <form class="flexrow" action="{:addon_url('ldcms/diyform/message')}" method="post">
                <input type="text" name="uname" id="" placeholder="姓名 *">
                <input type="tel" name="mobile" id="" placeholder="电话 *">
                <input type="email" name="emails" id="" placeholder="邮箱 *">
                <input type="text" name="companys" id="" placeholder="公司 *">
                <textarea name="remark" id="" placeholder="请输入留言内容 *" ></textarea>
                {:token()}
                <button type="submit">立即提交</button>
              </form>
            </div>
          </div>
        </div>
      </div>

	  {if $ld.bdak}
      <div class="contact_t" id="dtdh">
        <div class="con1400">
          <div class="contact_map animate"
          data-animate="fadeInUp" data-duration="1.5s" data-delay="0.1s">
            <h3 class="neititle">地图导航</h3>
            <div class="contact_mapitem">
              <div class="contact_b">
				  <div id="container"></div>
				  <style>
					  #container {
						  overflow: hidden;
						  width: 100%;
						  height: 480px;
						  margin: 0;
						  font-family: "微软雅黑";
					  }
				  </style>

                <script src="http://api.map.baidu.com/api?type=webgl&v=1.0&ak={$ld.bdak}"></script>

				<script type="text/javascript">
				  var map = new BMapGL.Map('container');
				  var point = new BMapGL.Point({$ld.mpdw});
				  map.centerAndZoom(point, 15);
				  // 创建小车图标
				  var myIcon = new BMapGL.Icon("__ADDON__/ldcms2024/images/bdico.png", new BMapGL.Size(23, 35));
				  // 创建Marker标注，使用小车图标
				  var pt = new BMapGL.Point({$ld.mpdw});
				  var marker = new BMapGL.Marker(pt, {
					icon: myIcon
				  });
				  var scaleCtrl = new BMapGL.ScaleControl();  // 添加比例尺控件
				  map.addControl(scaleCtrl);
				  var zoomCtrl = new BMapGL.ZoomControl();  // 添加缩放控件
				  map.addControl(zoomCtrl);
				  // 将标注添加到地图
				  map.addOverlay(marker);
				  map.enableScrollWheelZoom();    // 启动鼠标滚轮操作
				</script>

              </div>
            </div>
          </div>
        </div>
      </div>
	  {/if}
    </section>
    <!-- 主体 end -->

    <!-- 底部表单 -->
    {include file="footmess" /} 
    <!-- 底部表单 end -->

    <!-- 底部导航 -->
    {include file="foot" /} 
    <!-- 底部导航 end -->

    <!-- 公用js -->
    {include file="footjs" /} 

  </body>

</html>