<!DOCTYPE html>
<html lang="en">

<head>
  {include file="common" /}
</head>

<body>
  <!-- top -->
  {include file="head" /}
  <!-- top end -->

  <!-- banner -->
  <div class="banner">
    {include file="neibanner" /}
  </div>
  <!-- banner end -->

  <!-- 内页导航 -->
  <section class="neinav">
    <div class="con1400">
      {include file="neiernav" /}
    </div>
  </section>
  <!-- 内页导航 end -->

  <!-- 主体 -->
  <section class="neimain">
    <div class="prolistpage">
      <div class="con1400">
        <div class="prolist_item flexrow">
          <div class="prolist_l animate" data-animate="fadeInLeft" data-duration="1.5s" data-delay="0.1s">
            <div class="prolist_lnav">

              <div class="prolist_ltop flexrow">
                {ld:sort cid="$topid"}
                <h2>{$item.name}</h2>
                {/ld:sort}
              </div>

              <div class="prolist_lbot">
                <ul>
                  {ld:filter mid="$category['mid']" title_text="全部"}
                  <li>
                    <div class="pronav1">
                      <a href="{$item.url}" title="{$item.name}">
                        {:__($item.title)}
                      </a>
                    </div>
                    <div class="erpronav   {if $category['id']==$item['id']} active {/if}">
                      <ul>
                        {volist name="$item.content" id="li"}
                        <li>
                          <a class="flexrow" href="{$li.url}">
                            <span class="{$li.active?'active':''}">{:__($li.title)}</span>
                            <img src="__ADDON__/ldcms2024/images/arrow_right2.png" alt="">
                          </a>
                        </li>
                        {/volist}
                      </ul>
                    </div>
                  </li>
                  {/ld:filter}
                </ul>
              </div>
            </div>
            <script>
              $(document).ready(function () {
                $('.pronav1').click(function () {
                  $(this).next('.erpronav').slideToggle();
                })
              })
            </script>
          </div>
          <div class="prolist_wapl hidden-sm hidden-md hidden-lg">

          </div>
          <div class="prolist_r animate" data-animate="fadeInRight" data-duration="1.5s" data-delay="0.1s">
            <div class="prolist_list container">
              <ul class="row">
                {ld:list limit='12' ext='content' page='true'}
                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <a href="{$item.url}" title="{$item.title}">
                    <div class="prolist_item_img">
                      <img src="{$item.image}" alt="{$item.title}">
                    </div>
                    <div class="prolist_item_text">
                      <h3>{$item.title|ld_str_cut=15}</h3>
                      <p>{$item.seo_description|ld_str_cut=30}</p>
                    </div>
                  </a>
                </li>
                {/ld:list}
              </ul>
            </div>
            <div class="newspage">
              {$pages}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 主体 end -->

  <!-- 底部表单 -->
  {include file="footmess" /}
  <!-- 底部表单 end -->

  <!-- 底部导航 -->
  {include file="foot" /}
  <!-- 底部导航 end -->

  <!-- 公用js -->
  {include file="footjs" /}

</body>

</html>